@import './variables';

form {
    max-width: 400px;
    margin: 30px auto;
    
}

.feedback-input {
    color: $primary-color;
    font-weight: 100;
    font-size: 12px;
    border-radius: 5px;
    line-height: 12px;
    background-color: transparent;
    border: 1px solid $primary-color;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

#send {
    text-align: right;
}

.feedback-input:focus {
    border:$primary-color 2px solid;
}

textarea {
    height: 100px;
    line-height: 120%;
    resize: vertical;
}

.submit-button{
    background-color: $primary-color;
    

}
