/* Social Media icons css */
@import './variables';

.intro-social-icons a {
    text-decoration: none;
    color: #fff;
}

p>a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

.intro-social-icons ul {
    padding: 0;
    list-style: none;
}

.intro-social-icons {
    display: block;
    margin: 0 auto;
}

.social-icon {
    color: $primary-color;
}

ul.social-icons {
    margin-top: 10px;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}

.social-icons a {
    color: $primary-color;
    text-decoration: none;
}

.fa {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa:hover {
    color: #fff;
}

.fa-facebook {
    padding: 10px 14px;
}

.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding: 10px 12px;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-linkedin {
    padding: 10px 14px;
}

.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-github {
    padding: 10px 14px;
}

.fa-github:hover {
    background-color: #5a32a3;
}

/* End of Social Media icons css */