@import './variables';

@mixin change_nav_link_color {

    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show>.nav-link {
        color: $black;
        text-transform: uppercase;
        margin:1rem 0 0.5rem 0;

        &:hover {
            border-bottom: 3px solid $primary-color;
        }

        &:active{
            border-bottom: 3px solid $primary-color;
        }

    }

     @media (max-width:768px) {

         .navbar-light .navbar-nav .active>.nav-link,
         .navbar-light .navbar-nav .nav-link,
         .navbar-light .navbar-nav .nav-link.show,
         .navbar-light .navbar-nav .show>.nav-link {
             text-align: center;
         }
     }

     .navbar-light{
        .navbar-toggler {
            border-color: $secondary-color;
            float: right;
        }
     }
     

}

.bg-light {
    background-color: #ffffff !important;
}

.nav {
    .navbar-nav {
        flex-direction: row;
        text-transform: uppercase;

    }

}

@include change_nav_link_color();

