/* CSS Document */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
/* Social Media icons css */
/*Variables*/
.intro-social-icons a {
  text-decoration: none;
  color: #fff;
}

p > a:hover {
  color: #d9d9d9;
  text-decoration: underline;
}

.intro-social-icons ul {
  padding: 0;
  list-style: none;
}

.intro-social-icons {
  display: block;
  margin: 0 auto;
}

.social-icon {
  color: #ffbbbd;
}

ul.social-icons {
  margin-top: 10px;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}

.social-icons a {
  color: #ffbbbd;
  text-decoration: none;
}

.fa {
  -webkit-transition: .5s;
  transition: .5s;
}

.fa:hover {
  color: #fff;
}

.fa-facebook {
  padding: 10px 14px;
}

.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-twitter {
  padding: 10px 12px;
}

.fa-twitter:hover {
  background-color: #00aced;
}

.fa-linkedin {
  padding: 10px 14px;
}

.fa-linkedin:hover {
  background-color: #0073a4;
}

.fa-github {
  padding: 10px 14px;
}

.fa-github:hover {
  background-color: #5a32a3;
}

/* End of Social Media icons css */
/*Variables*/
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  width: 33.3333%;
}

.cards__item a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1024px) {
  .cards__item {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .cards__item {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .cards__item {
    width: 100%;
  }
}

.my_card {
  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.my_card:hover .card__image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0rem 0rem 0rem;
}

.card__content .card__title {
  color: #5c5c5c;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0rem 1rem 0rem 1rem;
}

.card__content .card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 1rem 1rem 1rem 1rem;
}

.card__content ul {
  list-style-type: none;
  padding: 0 0 1rem;
  margin: 0 1rem;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: minmax(auto, -webkit-max-content);
  grid-auto-columns: minmax(auto, max-content);
  grid-gap: .5rem;
  grid-auto-flow: column;
}

.card__content li {
  display: list-item;
  border: 1px solid #cccccc;
  color: #5c5c5c;
  padding: .1rem .4rem;
  font-size: .88rem;
  border-radius: 3px;
  white-space: nowrap;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__image--headphone {
  background-image: url("../images/jammming.png");
}

.card__image--ravenous {
  background-image: url("../images/ravenous.png");
}

.card__image--jab {
  background-image: url("../images/jab.png");
}

.card__image--bc {
  background-image: url("../images/inquiring.png");
}

/*Variables*/
form {
  max-width: 400px;
  margin: 30px auto;
}

.feedback-input {
  color: #ffbbbd;
  font-weight: 100;
  font-size: 12px;
  border-radius: 5px;
  line-height: 12px;
  background-color: transparent;
  border: 1px solid #ffbbbd;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

#send {
  text-align: right;
}

.feedback-input:focus {
  border: #ffbbbd 2px solid;
}

textarea {
  height: 100px;
  line-height: 120%;
  resize: vertical;
}

.submit-button {
  background-color: #ffbbbd;
}

/*Variables*/
.bg-light {
  background-color: #ffffff !important;
}

.nav .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #000000;
  text-transform: uppercase;
  margin: 1rem 0 0.5rem 0;
}

.navbar-light .navbar-nav .active > .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.show:hover,
.navbar-light .navbar-nav .show > .nav-link:hover {
  border-bottom: 3px solid #ffbbbd;
}

.navbar-light .navbar-nav .active > .nav-link:active,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link.show:active,
.navbar-light .navbar-nav .show > .nav-link:active {
  border-bottom: 3px solid #ffbbbd;
}

@media (max-width: 768px) {
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    text-align: center;
  }
}

.navbar-light .navbar-toggler {
  border-color: #000000;
  float: right;
}

/*Variables*/
/*Variables*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(245, 219, 219, 0.822);
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  font-weight: bold;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.nav-button {
  font-size: 40px;
  cursor: pointer;
  float: right;
  position: fixed;
  top: 10px;
  right: 20px;
  color: #ffbbbd;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media (max-width: 768px) {
  .nav-button {
    color: #ffbbbd;
  }
}

/*font sizes*/
/*heights*/
/*functions*/
.center {
  text-align: center;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

body .padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

body p {
  font-size: 0.875rem;
}

body h1 {
  margin: 2rem 0;
  font-weight: bold;
}

#home {
  height: 100vh;
  text-align: center;
}

#home h1 {
  font-size: 3rem;
  font-weight: 700;
}

#home .name {
  color: #ffbbbd;
  opacity: 100%;
}

#home .home-page-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

#home .bg-img {
  background: url("../images/background02.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  height: 100vh;
}

#home .home-button {
  position: relative;
  bottom: -150px;
  padding: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  background-color: #000000;
}

@media (max-width: 768px) {
  #home .home-button {
    bottom: -600px;
    width: 25%;
  }
}

#home .home-button:hover {
  border: none;
  background-color: #a9a9a9;
  color: white;
}

#home .arrow {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

#home .arrow-first {
  -webkit-animation: arrow-movement 2s ease-in-out infinite;
          animation: arrow-movement 2s ease-in-out infinite;
}

#home .arrow-second {
  -webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
          animation: arrow-movement 2s 1s ease-in-out infinite;
}

#home .arrow:before,
#home .arrow:after {
  background: #efefef;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

#home .arrow:before {
  -webkit-transform: rotate(45deg) translateX(-23%);
          transform: rotate(45deg) translateX(-23%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

#home .arrow:after {
  -webkit-transform: rotate(-45deg) translateX(23%);
          transform: rotate(-45deg) translateX(23%);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

@-webkit-keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#home .tech-image {
  margin-top: 3rem;
}

#home .profile_img {
  width: 15%;
  border-radius: 50%;
}

#aboutme .profile_img {
  width: 100%;
  height: auto;
}

#aboutme .profile-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(245, 219, 219, 0.822);
}

#aboutme .about_me_content {
  display: inline-block;
  margin: 0 auto;
  padding: 30px;
}

#aboutme .icons {
  width: 30%;
}

#aboutme .skill-list h3 {
  font-size: 1rem;
  font-weight: bold;
}

#aboutme .skill-list ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

#aboutme .skill-list ul li {
  list-style: none;
}

#aboutme .skill-div {
  background-color: black;
  color: #fff;
  padding: 2rem;
}

#aboutme .skill-div h3 {
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 50rem) {
  #project .container-fluid {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

#contact {
  background-color: #000000;
  color: white;
}

#contact h2 {
  font-weight: bold;
  padding-top: 2rem;
  text-align: center;
}

#contact p {
  text-align: center;
}

@media (max-width: 768px) {
  section {
    height: 100%;
  }
  #home h1 {
    font-size: 2.5rem;
  }
  #home h2 {
    font-size: 1rem;
  }
  #home .bg-img {
    background-color: black;
  }
  #aboutme .about_me_content {
    padding: 2rem;
  }
  #aboutme .profile-content-div {
    padding: 1rem;
  }
  #aboutme .picture-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #aboutme .profile_img {
    width: 60%;
    margin: 1rem 0rem;
  }
}

@media (max-width: 576px) {
  #home h1 {
    font-size: 2rem;
  }
  #home h2 {
    font-size: 0.5rem;
  }
  #home .tech-image {
    width: 100%;
    height: auto;
    margin-top: 3rem;
  }
  #home .bg-img {
    background-color: black;
  }
  #aboutme .profile_img {
    width: 80%;
    margin: 1rem 0rem;
  }
  #aboutme .about_me_content {
    padding: 1rem;
  }
}
/*# sourceMappingURL=site.css.map */