/* CSS Document */
// @import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import './media_icons';
@import './card';
@import './form';
@import './navbar';
@import './home-animation';
@import './variables';
@import './newnav';



/*font sizes*/
$primary-font-size: 0.875rem;
$h1-size:2rem;
$h2-size:1.5rem;

/*heights*/
$full_screen-height:100vh;
$mobile_left_col_height: 30px;
$contact-section-height:300px;


/*functions*/
@mixin centerText {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;

}

@mixin horizontal_Center {
    display: inline-block;
    margin: 0 auto;
    padding: 30px;

}

@mixin section($height) {
    height: $height;

}


.center{
    text-align: center;
}

body {
    position: relative;
    font-family: $primary-font-family;
    color: $black;
    

    .padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    p {
        font-size: $primary-font-size;
    }

    h1 {
        margin: 2rem 0;
        font-weight: bold;
    }

}

#home {
    height: $full_screen-height;
    text-align: center;

    h1{
        font-size:3rem;
        font-weight: 700;
        
    }

    .name{
        color:$primary-color;
        opacity: 100%;
    }

    .home-page-intro{
         @include flexCenter();
        height: 100vh;
        background-color: rgba(0, 0, 0, 0);
        color:#fff;
    }

    .bg-img{
        background: url('../images/background02.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100%;
        height: 100vh;
        
    }


    .home-button {
        position: relative;
        bottom: -150px;
        padding: 0.5rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 15%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.25rem;
        transition: all .7s ease;
        background-color:$secondary-color;

        @media (max-width:768px) {
            bottom: -600px;
            width:25%;
        }

        &:hover {
            border: none;
            background-color:$third-color;
            color:white;
            

        }
    }

    $ani-speed: 2s;
    $ani-delay: 1s;

    .arrow {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform-origin: 50% 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    .arrow-first {
        animation: arrow-movement $ani-speed ease-in-out infinite;
    }

    .arrow-second {
        animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
    }

    .arrow:before,
    .arrow:after {
        background: $forth_color;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
    }

    .arrow:before {
        transform: rotate(45deg) translateX(-23%);
        transform-origin: top left;
    }

    .arrow:after {
        transform: rotate(-45deg) translateX(23%);
        transform-origin: top right;
    }

    // Animation
    @keyframes arrow-movement {
        0% {
            opacity: 0;
            top: 45%;
        }

        70% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
    // arrow animation end

    .tech-image {
        margin-top: 3rem;

    }

    .profile_img {
        width: 15%;
        border-radius: 50%;
    }
}

#aboutme {
    .profile_img {
        width: 100%;
        height:auto;
        
    }

    .profile-div{
        @include flexCenter();
        background-color:rgba(245, 219, 219, 0.822);

    }

    .about_me_content {
        @include horizontal_Center();
    }

    .icons {
        width: 30%;
    }

    .skill-list{
        h3{
            font-size: 1rem;
            font-weight: bold;
        }
        ul{
            padding-inline-start:0px;

            li{
                list-style: none;
                
            }
        }

     
    }

    .skill-div{
        background-color:black; 
        color:#fff;
        padding: 2rem;
        h3{
            font-size:1rem;
            font-weight: bold;
            
        }

    }
}



#project {
    .container-fluid {
        
        @media (min-width: 50rem) {
            padding-left: 8rem;
            padding-right: 8rem;
        }

    }
}


#contact {
    background-color: $secondary-color;
    color:white;

    h2 {
        font-weight: bold;
        padding-top: 2rem;
        text-align: center;
    }

    p {
        text-align: center;
    }
}


@media (max-width: 768px) {
    section {
        height: 100%;
    }

    #home {
        h1 {
            font-size: 2.5rem;
        }

        h2{
            font-size:1rem;
        }

        .bg-img{
            background-color: black;
        }
    }

    #aboutme {
        .about_me_content {
            padding: 2rem;
        }

        .profile-content-div{
            padding:1rem;
        }
        .picture-div{
            
            @include flexCenter();
        }

        .profile_img {
            
            width: 60%;
            margin: 1rem 0rem;
        }

    }
}

@media (max-width: 576px) {
    #home {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 0.5rem;
        }

        .tech-image {
            width: 100%;
            height: auto;
            margin-top: 3rem;

        }

        .bg-img {
           background-color:black;
        }
    }

    #aboutme {
        .profile_img {
            width: 80%;
            margin: 1rem 0rem;
        }

        .about_me_content {
            padding: 1rem;
        }

    }

}

    
